<div class="grid grid--no-gutters image-bar image-bar--medium">
    <div class="grid__item medium-up--one-quarter js">
        <div class="image-bar__item image-bar__item--16300545186803c786-0 box ratio-container lazyloaded" 
          data-bgset="" 
          data-parent-fit="cover" style="background-position: center center;background-image: url('{{ 'instagram_1.jpg' | asset_url }}');">
        </div>
    </div>
  
    <div class="grid__item medium-up--one-quarter js">
      
        <div class="image-bar__item image-bar__item--16300545186803c786-1 box ratio-container lazyloaded"  
          data-parent-fit="cover" 
          style="background-position: center center; background-image: url('{{ 'instagram_2.jpg' | asset_url }}');"">
    </div>
      </div>
  
    <div class="grid__item medium-up--one-quarter js">
        <div class="image-bar__item image-bar__item--16300545186803c786-2 box ratio-container lazyloaded" 
          data-bgset="" data-parent-fit="cover" 
          style="background-position: center center; background-image: url('{{ 'instagram_3.jpg' | asset_url }}');";">
      
      </div>
    </div>
  
    <div class="grid__item medium-up--one-quarter js">
      
        <div class="image-bar__item image-bar__item--f8c913c9-26f1-4fde-b6d2-a7db402f24ec box ratio-container lazyloaded" 
          data-parent-fit="cover" style="background-position: center center; background-image: url('{{ 'instagram_4.jpg' | asset_url }}');";">
    </div>
    </div>
</div>