<div class="shopify-section index-section">
<div class="page-width" data-section-id="1630054469be09c918" data-section-type="quotes">
  
    <div class="section-header text-center">
      <h2>Testimonials</h2>
    </div>
  

  
    <div class="quotes-wrapper" data-slider="">
      <div class="quotes-slider-wrapper slick-initialized" data-slider-container="">
        <div class="quotes-slider" id="Quotes-1630054469be09c918" data-count="3" data-slider-track="" style="width: 1089px; transform: translateX(0px);">
          
            <div id="slickSlide1630054469be09c918-0" class="quotes-slide quotes-slide--1630054469be09c918-0 slideshow__slide--active" aria-labelledby="slickDot1630054469be09c918-0" data-slider-slide-index="0" data-slider-item="" aria-hidden="false" tabindex="-1" style="width: 363px;">

              <blockquote class="quotes-slider__text text-center">
                <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path></svg></span>
                
                  <div class="rte-setting rte"><p>Add customer reviews and testimonials to showcase your store’s happy customers.</p></div>
                
                
                  <cite>Author's name</cite>
                
              </blockquote>
            </div>
          
            <div id="slickSlide1630054469be09c918-1" class="quotes-slide quotes-slide--1630054469be09c918-1 slideshow__slide--active" aria-labelledby="slickDot1630054469be09c918-1" data-slider-slide-index="1" data-slider-item="" aria-hidden="false" tabindex="-1" style="width: 363px;">

              <blockquote class="quotes-slider__text text-center">
                <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path></svg></span>
                
                  <div class="rte-setting rte"><p>Add customer reviews and testimonials to showcase your store’s happy customers.</p></div>
                
                
                  <cite>Author's name</cite>
                
              </blockquote>
            </div>
          
            <div id="slickSlide1630054469be09c918-2" class="quotes-slide quotes-slide--1630054469be09c918-2 slideshow__slide--active" aria-labelledby="slickDot1630054469be09c918-2" data-slider-slide-index="2" data-slider-item="" aria-hidden="false" tabindex="-1" style="width: 363px;">

              <blockquote class="quotes-slider__text text-center">
                <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path></svg></span>
                
                  <div class="rte-setting rte"><p>Add customer reviews and testimonials to showcase your store’s happy customers.</p></div>
                
                
                  <cite>Author's name</cite>
                
              </blockquote>
            </div>
          
        </div>
      </div>

      
        <ul class="slick-dots slick-dots--mobile-only" data-slider-indicators=""><li class="slick-active" data-slider-indicator="" aria-selected="true">
              <button id="slickDot1630054469be09c918-0" aria-label="Load slide 1" data-slide-number="0" aria-controls="slickSlide1630054469be09c918-0" aria-current="true"></button>
            </li><li data-slider-indicator="">
              <button id="slickDot1630054469be09c918-1" aria-label="Load slide 2" data-slide-number="1" aria-controls="slickSlide1630054469be09c918-1"></button>
            </li><li data-slider-indicator="">
              <button id="slickDot1630054469be09c918-2" aria-label="Load slide 3" data-slide-number="2" aria-controls="slickSlide1630054469be09c918-2"></button>
            </li></ul>
      
    </div>
  

  
</div>
</div>